p {
  color: brown;
}

.deleteButton {
  background-color: red;
  color: whitesmoke;
  border-color: white;
  border-radius: 50px;
}
.addToDoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ToDo {
  display: flex;
  flex-direction: row;
}

.myCssStyleSheet {
  margin: 300;
  color: rebeccapurple;
}
